@charset "UTF-8";
/*
Projet: Ponzu
Author: Erick Gardin
Version: 1.0
Date: 2014-06-05
*/

/* === Base === */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* === Useful === */
.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix{
  display: block;
}
html[xmlns].clearfix{
  display: block;
}
*.clearfix{
  height: 1%;
}
/* === /Useful === */

/* === Common === */
body {
  font: 1em "",Arial,sans-serif;
}
h1, .h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 3em;
}
h2, .h2 {
  text-align: center;
}
h3, .h3 {

}
h4, .h4 {

}
h5, .h5 {

}
.wrapper {
  padding: 0 10px;
  width: 480px;
  margin: 0 auto;
}
/* === /Common === */


/*=== Header === */
/*=== /Header === */

/*=== Footer === */
/*=== /Footer === */

/*=== Pages === */
section {
  padding: 0px;
  margin-bottom: 40px;
}
form,
input[type="text"] {
  text-align: center;
}
form {
  position: relative;
}
form button {
  position: absolute;
}
form .prev {
  left: 0;
}
form .next,
form button[type="submit"] {
  right: 0;
  top: 0;
}
input[type="text"] {
  width: 100%;
}
ul {
  text-align: left;  
}
li {
  margin-bottom: 10px;
}
.sauce-explaination {
  padding: 10px;  
  border: 1px solid #000;
}
/*=== /Pages === */

